*, html {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html, body{
  min-height: 100%;
}

body{
background: url("../images/background1.jpg") no-repeat;
background-position: center;
background-size: cover;
font-size: 16px;
font-size: 1rem;
line-height: 1.5;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.menu-bar{
  width:80%;
  height:7vh;
  background-color: rgba(255,0,0,0.4);
}
.logo{
  /*border:1px solid #fff;*/
  width:40%;
  height:7vh;

}

.numberPlayers{
  font-family: sans-serif;
  color: white;
  position: relative;
  left:2vw;
  top:0.8vw;
}

#numberPlayers{
  background: rgb(193, 194, 176);
  position: absolute;
  left:8vw;
  top:1vw;
  border: 1px solid red;
  }

  .sizeGame{
    font-family: sans-serif;
    color: white;
    position: absolute;
    left:17vw;
    top:0.8vw;
  }

#sizeGame{
  background: rgb(193, 194, 176);
  position: absolute;
  left:23vw;
  top:1vw;
  border: 1px solid red;
  }



.text{
  /*border:1px solid red;*/
  width:48%;
  height:7vh;
  position:absolute;
  left: 32%;  /*80*40*/
  top: 0.5%;
}

.btn{
  width:auto;
  height:5vh;
  align-content: center;
  cursor: pointer;
  border-radius: 6px;
  background-color: rgba(30, 53, 97, 0.45);
  color: #fff;
  padding:0px 10px;
}

.btn-new{
position: absolute;
left:18vw;
top: 6%;
font-size: 1vw;
}

.btn-reset{
position: absolute;
left:27vw;
top: 6%;
font-size: 1vw;
}

.btn-doc{
position: absolute;
left:38vw;
top: 6%;
font-size: 1vw;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.table{
  /*border:1px solid #fff;*/
  width: 80%;
  height: 70vh;
}
.left{
  border:1px solid #fff;
  width: 80vw;
  height: 27vh;
}
.center{
  /*border:1px solid #fff;*/
  width: 16%; /* 80*20*/
  height: 70vh;
  position:absolute;
  left: 32%; /* 80*40*/
  top: 7%
}
.right{
  border:1px solid red;
  width: 80vw;
  height: 27vh;
  position:absolute;
  left: 0;
  top: 50vh;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.casino-chip{
  width:100%;
  height:auto;

  border-radius: 5px;
  position:relative;
  top:0;
}
.hand-start{
  background: url("../images/background1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  width:100%;
  height:auto;
  border-radius: 5px;
  position:relative;
  top:0;
}
.remaining-tiles{
  width:100%;
  height:auto;
  border-radius: 5px;
  position:relative;
  top:0;
}

.layout7Players{

}
.layout8Players{

}



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.user-dominos{
  border:3px solid grey;
  width: 80%;
  height: 23vh;
  padding: 1vh;
  background: rgba(33, 98, 175, 0.59);
}
.upper-row{
  /*border:1px solid #fff;*/
  height:10vh;
}

.lower-row{
  /*border:1px solid #fff;*/
  height:10vh;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
 ul {
   list-style-type: none
 }

.disposal-tiles{
   background: url("../images/tile-wb.png") no-repeat;
   background-position: center;
   background-size:contain;
   width:10%;
   height:9vh;
   border-radius: 5px;
   float: left;
   margin-left:1%;
   margin-top:0.2%;
   align-content: center;
 }

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.score-panel{
  border:1px solid #fff;
  width: 20%;
  height: 100%;
  position:absolute;
  left: 80%;
  top:0;
  text-align: center;
  color: white;
  font-family: sans-serif;
  background: rgba(40, 39, 43, 0.83);
}

#stats{
  height:20%;
  border-bottom: 2px solid white;
  padding: 5%;
}

#score{
  height: 80%;
  text-align: center;
  padding: 5%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

th {
  color: white;
  text-align: center;
  padding-left: 13px;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 18px;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */



/*
#myDIV {
  width: 15%; /* 80*20*/
  height: 30vh;
  position:absolute;
  left: 32%; /* 80*40*/
  top: 28%;
  outline: 1px solid black;
  -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
  animation: mymove 3s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {outline: 5px solid white;}
}

/* Standard syntax */
@keyframes mymove {
    50% {outline: 5px solid grey;}
*/
