*, html {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html, body{
  min-height: 100%;
}

body{
background: url("../images/background1.jpg") no-repeat;
background-position: center;
background-size: cover;
font-size: 16px;
font-size: 1rem;
line-height: 1.5;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.menu-bar{
  width:80%;
  height:7vh;
  background-color: rgba(255,0,0,0.4);
}
.logo{
  /*border:1px solid #fff;*/
  width:40%;
  height:7vh;

}

.numberPlayers{
  font-family: sans-serif;
  color: white;
  position: relative;
  left:2vw;
  top:0.8vw;
}

#numberPlayers{
  background: rgb(193, 194, 176);
  position: absolute;
  left:8vw;
  top:1vw;
  border: 1px solid white;
  }

.sizeGame{
    font-family: sans-serif;
    color: white;
    position: absolute;
    left:17vw;
    top:0.8vw;
  }

#sizeGame{
  background: rgb(193, 194, 176);
  position: absolute;
  left:23vw;
  top:1vw;
  border: 1px solid white;
  }

.text{
  /*border:1px solid red;*/
  width:48%;
  height:7vh;
  position:absolute;
  left: 32%;  /*80*40*/
  top: 0.5%;
}

.btn{
  width:auto;
  height:5vh;
  align-content: center;
  cursor: pointer;
  border-radius: 6px;
  background-color: rgba(30, 53, 97, 0.45);
  color: #fff;
  padding:0px 10px;
}

.btn-new{
position: absolute;
left:18vw;
top: 6%;
font-size: 1vw;
}

.btn-reset{
position: absolute;
left:27vw;
top: 6%;
font-size: 1vw;
}

.btn-doc{
position: absolute;
left:38vw;
top: 6%;
font-size: 1vw;
}

#newGame[disabled] {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */
  border: 1px gray solid;
}

#sizeGame[disabled] {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */
  border: 1px gray solid;
}

#numberPlayers[disabled] {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */
  border: 1px gray solid;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.table{
  /*border:1px solid #fff;*/
  width: 80%;
  height: 70vh;
}
.top{
  /*border:1px solid #fff;*/
  width: 80vw;
  height: 27vh;
}
.center{
  /*border:1px solid blue;*/
  width: 80vw;
  height: 16vh;
  position:absolute;
  top: 34vh;
  text-align: center;
}
.bottom{
  /*border:1px solid red;*/
  width: 80vw;
  height: 27vh;
  position:absolute;
  top: 50vh; /*7+27+16*/
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.casino-chip{
  width:auto;
  height:15vh;
  border-radius: 5px;
  margin-left: 1vw;
  margin-right: 1vw;

}
.hand-start{
  background: url("../images/background1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  width:auto;
  height:16vh;
  border-radius: 5px;
  margin-left: 2vw;
  margin-right: 2vw;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.user-dominos{
  border:3px solid grey;
  width: 80%;
  height: 23vh;
  padding: 1vh;
  background: rgba(33, 98, 175, 0.59);
}
.upper-row{
  /*border:1px solid #fff;*/
  height:10vh;
}

.lower-row{
  /*border:1px solid #fff;*/
  height:10vh;
}

ul {
  list-style-type: none;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.users-display{
   background: url("../images/tile-wb_horiz.png") no-repeat;
   background-position: center;
   background-size:contain;
   width:10%;
   height:9vh;
   border-radius: 5px;
   /*float: left;*/
   display: inline-block;
   margin-left:1%;
   margin-top:0.2%;
   position: relative;  /* added change in order to display images with numbers correctly*/
 }


.tile-left{
    width: 40%;
     position: absolute;
     top:  50%;
     left:  50%;
     transform: translate(-110%, -50%);
   }

.tile-right{
    width: 40%;
    position: absolute;
    top:  50%;
    left:  50%;
    transform: translate(10%, -50%);
  }

.trial-image{
  width: 40px;
  height: auto;
  margin: 3% 3%;

}



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.score-panel{
  border:1px solid #fff;
  width: 20%;
  height: 100%;
  position:absolute;
  left: 80%;
  top:0;
  text-align: center;
  color: white;
  font-family: sans-serif;
  background: rgba(40, 39, 43, 0.83);
}

#stats{
  height:20%;
  border-bottom: 2px solid white;
  padding: 5%;
}

#score{
  height: 60%;
  text-align: center;
  padding: 5%;
}

.extra-tiles{
  height:8vh;
}
.remaining-tiles{
  height:12vh;
  border-radius: 5px;
  position: relative;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

th {
  color: white;
  text-align: center;
  padding-left: 13px;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0 18px;
}

.th2 {
  text-align: right;
  position: relative;
  left: 9px;
}

input[type="text"] {
     border: 0.2px solid grey;
     width:6vw;
     height: 2vw;
     background-color: transparent;
     padding:0.5em;
     opacity:1;
     font-family: sans-serif;
     font-size: 16px;
}

input, textarea{
    color: lightgrey;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
